.content {
 padding-top: 80px;
}

/* teams by country list */

.flagicon {
  width: 25px;
  margin: 2px 5px;
}

.countrylist {
  padding: 5px;
}

.blockheader {
  text-align: center !important;
}

@media (max-width: 991px) {
  .countrylist .blockheader {
    text-align: left!important;
    margin-left: 20px;
  }
}

/* tie list */

.teaminfo {
  margin-bottom: 10px;
}

.legend {
  margin-bottom: 15px;
}

.legend p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

  .legend .header p {
    font-weight: bold;
  }

  .legend .key .row {
    margin: 8px -3px;
  }

    .legend .key div {
      border: 2px white solid;
      border-radius: 5px;
      margin-right: 10px;
    }

    .legend .key .w-100 {
      height: 5px;
    }

.cl {
  background-color: #67a9cf30;
}

.el {
  background-color: #ef8a6230;
}

.knockout {
  border-color: #666 !important;
}

.tie {
  margin: 10px 0px;
  border-radius: 5px;
  border: 2px white solid;
  padding: 5px 0;
}

  .tie p {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
  }

  .tie .summary .team .flag, .tie .summary .team .name {
    padding-left: 0;
    padding-right: 0;
  }

  .tie .summary .team .flag .flagicon {
    margin: 0 5px -4px;
  }

  @media (max-width: 991px) {
    .tie .summary .team.two .row .flag {
      order: 10;
    }

    .tie .summary .team.two .row .w-100 {
      order: 20;
    }

    .tie .summary .team.two .row .name {
      order: 30;
    }
  }

/* goals list */

.goalrow {
  margin: 10px 0px;
  border-radius: 5px;
  border: 2px white solid;
  padding: 5px 0;
}

.g {
  background-color: #2596be20;
}

.ag {
  border-color: #fcc5c0 !important;
}

.goalrow p {
  margin-bottom: 0
}

  .goalrow .chgprob p {
    font-size: 18px;
    font-weight: bold;
  }
