@media (max-width: 991px) {
  h1 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.3rem;
  }
}



.teamLabel text {
  fill-opacity: 0.25;
}

.goal {
  height: 10px;
  width: 10px;
  background-color: #2596be;
  border-radius: 50%;
  display: inline-block;
}

.away {
  box-shadow: 0 0 0 3px #fcc5c0;
}

.red_card {
  width: 9px;
  height: 12px;
  background-color: #ff3322;
  display: inline-block;
}

div.overflow {
  overflow-x: scroll;
}

table.custom {
  min-width: 800px;
  font-size: 0.9rem;
}

table.custom tr {
  height: 20px;
}

table.custom .event {
  width: 500px;
}

table.custom .leg {
  width: 50px;
}

table.custom .minute {
  width: 70px;
}

table.custom .t1,
table.custom .t2  {
  width: 50px;
}

table.custom .change,
table.custom .leader {
  width: 140px;
}
