{% extends 'base.html' %}

{% block title %}Seasons{% endblock %}
{% block headline %}Seasons{% endblock %}
{% block nosubhead %}{% endblock %}
{% block nodesc %}{% endblock %}
{% block seasonsactive %}active{% endblock %}


{% block content %}
<ul>
  {% for szn in seasons %}
    <li>
      <a href="{{ szn.get_absolute_url }}">{{ szn.get_full_season }} {{ szn.get_full_competition }}</a> ({{ szn.get_num_ties }}{% if forloop.first %} two-legged ties{% endif %})
    </li>
  {% endfor %}
</ul>
{% endblock %}
