{% extends "base.html" %}

{% block title %}Teams{% endblock %}

{% block content %}
    <h2>Teams</h2>
    <table id="teams" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            {% for team in team_list %}
            <tr>
                <td><a href="{{ team.get_absolute_url }}">{{ team.name }}</a><a href="{{ team.country.get_absolute_url }}"><img class='flagicon' src="/static/img/{{ team.country.slug }}.png" /></a></td>
                {% comment %}<td><a href="{{ team.country.get_absolute_url }}">{{ team.country }}</a></td>{% endcomment %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}