{% extends 'base.html' %}
{% load static %}
{% load formatters %}
{% load humanize %}

{% block title %}{{ tie.get_tie_name }}{% endblock %}

{% block headline %}
{% if tie.in_progress %}
<img class='flagicon' src="/static/img/{{ tie.team1.country.slug }}.png" /><a href='{{ tie.team1.get_absolute_url}}'>{{ tie.team1.name }}</a> v. <a href='{{ tie.team2.get_absolute_url}}'>{{ tie.team2.name }}</a><img class='flagicon' src="/static/img/{{ tie.team2.country.slug }}.png" />
{% else %}
<img class='flagicon' src="/static/img/{{ tie.team1.country.slug }}.png" /><a href='{{ tie.team1.get_absolute_url}}'>{{ tie.team1.name }}</a> {{ tie.aggscore_t1 }}{% if tie.away_goals_rule or tie.penalty_kicks %}{% if tie.t1win %}*{% endif %}{% endif %}-{{ tie.aggscore_t2 }}{% if tie.away_goals_rule or tie.penalty_kicks %}{% if not tie.t1win %}*{% endif %}{% endif %} <a href='{{ tie.team2.get_absolute_url}}'>{{ tie.team2.name }}</a><img class='flagicon' src="/static/img/{{ tie.team2.country.slug }}.png" />
{% endif %}
{% endblock %}

{% block nosubhead %}{% endblock %}

{% block nodesc %}
<p>{{ tie.season }} {{ tie.competition }} - {{ tie.stage }}</p>
{% if tie.in_progress %}
<p><strong>Tie {% if tie.in_progress_halfway %}in progress{% elif tie.in_progress %}starting soon{% endif %}!</strong> Current prediction: {% with events|last as last %}{% if last.predictedprobt1 > 0.5 %}{{ tie.team1.short_name }} {% elif last.predictedprobt1 < 0.5 %}{{ tie.team2.short_name }} {% endif %}{{ last.predictedprobt1|format_predictedprob }}% to win{% endwith %}</p>
{% endif %}
{% endblock %}

{% block tiesactive %}active{% endblock %}

{% block content %}

{% if tie.has_invalid_match or not tie.has_events %}
<p>There is no win probability chart for this match. This is likely because the data for this tie are incomplete or one or more of the legs resulted in a forfeit.</p>
{% else %}
<h4>Win probability chart</h4>
<div id='chartholder' style='margin-bottom:20px;'></div>

{% if not tie.has_odds %}
<p>Note: This tie <a href='{% url "nooddslist" %}'>did not have odds data associated with it</a>. It is assumed the two teams were of equal strength.</p>
{% endif %}

{% if tie.penalty_kicks %}
<p>Note: This tie ended with {% if tie.t1win %}{{ tie.team1.short_name }}{% else %}{{ tie.team2.short_name }}{% endif %} winning in a penalty kick shootout. The tiepredict model does not yet account for <a href='{% url "pklist" %}'>penalty kick shootouts</a> and assumes that each team has the same chance of winning one.</p>
{% endif %}

<h4>Events</h4>
<p class='d-lg-none' style='font-size:0.9rem;'>Scroll right for more event details</p>
<div class='table-responsive overflow'>
  <table class='table table-sm table-bordered custom'>
    <thead>
      <tr>
        <th colspan=3></th>
        <th colspan=2 class='text-center'>Goals</th>
        <th colspan=2 class='text-center'>Win Prob.</th>
      </tr>
      <tr>
        <th class='event' scope="col">Event</th>
        <th class='leg' scope="col">Leg</th>
        <th class='minute' scope="col">Minute</th>
        <th class='t1' scope="col">{{ tie.team1.code_name }}</th>
        <th class='t2' scope="col">{{ tie.team2.code_name }}</th>
        <th class='change' scope="col">Change</th>
        <th class='leader' scope="col">Leader</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
      {% if event.minute_type == 'b_match_state' %}
      <tr>
        <td class='event'>
          {% if event.minuteclean == 0 %}
          Start of tie
          {% elif event.minuteclean == 90 %}
          End of first leg
          {% elif event.minuteclean == 180 %}
          {% if aet %}Start of extra time{% else %}End of tie{% endif %}
          {% elif event.minuteclean == 210 %}
          End of tie
          {% endif %}
        </td>
        <td class='leg'></td>
        <td class='minute'></td>
        <td class='t1'>
          {{ event.goalst1 }}{% if event.goalst1 == event.goalst2 and event.awaygoalst1 > event.awaygoalst2 %}*{% endif %}
        </td>
        <td class='t2'>
          {{ event.goalst2 }}{% if event.goalst1 == event.goalst2 and event.awaygoalst1 < event.awaygoalst2 %}*{% endif %}
        </td>
        <td class='change'></td>
        <td class='leader'>
          {% if event.predictedprobt1 > 0.5 %}{{ tie.team1.code_name }} {% elif event.predictedprobt1 < 0.5 %}{{ tie.team2.code_name }} {% endif %}{{ event.predictedprobt1|format_predictedprob }}%
        </td>
      </tr>
      {% elif event.minute_type == 'a_event' %}
      <tr>
        <td class='event'>
          {% if event.is_away_goal %}
          <span class='away goal'></span> {% if event.eventteam == 1 %}{{ tie.team1.code_name }}{% elif event.eventteam == 2 %}{{ tie.team2.code_name }}{% endif %} away goal: {{ event.player }}
          {% elif event.is_goal %}
          <span class='goal'></span> {% if event.eventteam == 1 %}{{ tie.team1.code_name }}{% elif event.eventteam == 2 %}{{ tie.team2.code_name }}{% endif %} goal: {{ event.player }}
          {% elif event.is_red_card %}
          <span class='red_card'></span> {% if event.eventteam == 1 %}{{ tie.team1.code_name }}{% elif event.eventteam == 2 %}{{ tie.team2.code_name }}{% endif %} red card: {{ event.player }}
          {% else %}
          {% endif %}
        </td>
        <td class='leg'>
          {% if event.minuteclean <= 90 %}
          1
          {% else %}
          2
          {% endif %}
        </td>
        <td class='minute'>{{ event.actualminute|format_minutes }}</td>
        <td class='t1'>
          {{ event.goalst1 }}{% if event.goalst1 == event.goalst2 and event.awaygoalst1 > event.awaygoalst2 %}*{% endif %}
        </td>
        <td class='t2'>
          {{ event.goalst2 }}{% if event.goalst1 == event.goalst2 and event.awaygoalst1 < event.awaygoalst2 %}*{% endif %}
        </td>
        <td class='change'>
          {% if event.chgpredictedprobt1 > 0 %}{{ tie.team1.code_name }} {% elif event.chgpredictedprobt1 < 0 %}{{ tie.team2.code_name }} {% endif %}+{{ event.chgpredictedprobt1|format_chgprob }}%
        </td>
        <td class='leader'>
          {% if event.predictedprobt1 > 0.5 %}{{ tie.team1.code_name }} {% elif event.predictedprobt1 < 0.5 %}{{ tie.team2.code_name }} {% endif %}{{ event.predictedprobt1|format_predictedprob }}%
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>

{% if not tie.in_progress %}
<h4>Metrics</h4>
<p><a href="{% url 'comebacklist' %}">Comeback</a>: {{ tie.comeback|format_percent_one_decimal }}% ({{ tie.get_comeback_rank|intcomma }} out of {{ num_ties|intcomma }} ties)</p>
<p><a href="{% url 'excitementlist' %}">Excitement</a>: {{ tie.excitement|floatformat }} ({{ tie.get_excitement_rank|intcomma }} out of {{ num_ties|intcomma }} ties)</p>
<p><a href="{% url 'tensionlist' %}">Tension</a>: {{ tie.tension|floatformat }} ({{ tie.get_tension_rank|intcomma }} out of {{ num_ties|intcomma }} ties)</p>
{% endif %}

{% endif %}

{% endblock %}

{% block extrajs %}
<script src="{% static 'js/d3.v5.min.js' %}"></script>
<script src="{% static 'js/winProbChart.js' %}"></script>
<script>
  app.winProbData = {{ preds|safe }};
  app.tieEvents = {{ events_json|safe }};
  app.tieid = "{{ tie.tieid }}";
  app.team1short = "{{ tie.team1.short_name|safe }}";
  app.team2short = "{{ tie.team2.short_name|safe }}";
  app.team1code = "{{ tie.team1.code_name|safe }}";
  app.team2code = "{{ tie.team2.code_name|safe }}";
</script>
<script type="text/javascript">
$(function () {
    app.resize();
    window.addEventListener('resize', app.resize);
});
</script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/winProbChart.css' %}">
{% endblock %}
