{% extends 'base.html' %}
{% load static %}

{% block title %}{{ tie.get_tie_name }}{% endblock %}

{% block content %}

<div class="container">
  <h3 class='text-center'>
    <a href='{{ tie.team1.get_absolute_url}}'>{{ tie.team1.name }}</a>
    {{ tie.aggscore_t1 }}-{{ tie.aggscore_t2 }}
    <a href='{{ tie.team2.get_absolute_url}}'>{{ tie.team2.name }}</a>
  </h3>
  <div id='chartholder'></div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/d3.v5.min.js' %}"></script>
<script src="{% static 'js/winProbChart.js' %}"></script>
<script>
  app.winProbData = {{ preds|safe }};
  app.tieEvents = {{ events|safe }};
  app.team1short = "{{ tie.team1.short_name|safe }}";
  app.team2short = "{{ tie.team2.short_name|safe }}";
</script>
<script type="text/javascript">
$(function () {
    app.resize();
    window.addEventListener('resize', app.resize);
});
</script>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'css/winProbChart.css' %}">
{% endblock %}
