<div class='row legend'>
  <div class='col-12 header'>
    <p>Legend</p>
  </div>
  <div class='col-12 key'>
    <div class='row'>
      <div class='col-auto cl'><p class='text-left'>Champions Lg.</p></div>
      <div class='w-100 d-lg-none'></div>
      <div class='col-auto el'><p class='text-left'>Europa Lg.</p></div>
      <div class='w-100 d-lg-none'></div>
      <div class='col-auto knockout'><p class='text-left'>Knockout Rd.</p></div>
    </div>
  </div>
  <div class='col-12 notes'>
    <p>agr: Tie decided by <a href="{% url 'agrlist' %}">away goals rule</a></p>
    <p>aet: Tie decided <a href="{% url 'aetlist' %}">after extra time</a></p>
    <p>pk: Tie decided by <a href="{% url 'pklist' %}">penalty kicks</a></p>
  </div>
</div>
