<!-- one row per tie -->
{% for tie in ties %}
<div class='row tie {{ tie.competition_code }}{% if tie.is_knockout %} knockout{% endif %}'>
  <!-- year and round -->
  <div class='col-lg-4 metadata'>
    <div class='row'>
      <div class='col-lg-5 season'>
        <p class='text-center text-lg-left'>{{ tie.season }} {{ tie.get_short_competition }}</p>
      </div>
      <div class='col-lg-7 stage'>
        <p class='text-center text-lg-left'>{{ tie.get_short_stage }}</p>
      </div>
    </div>
  </div>

  <!-- teams and score -->
  <div class='col-lg-7 summary'>
    <div class='row justify-content-center align-items-center'>
      <div class='col-4 team one'>
        <div class='row justify-content-end align-items-center'>
          <div class='col-auto flag'>
            <img class='flagicon' src="/static/img/{{ tie.team1.country.slug }}.png" />
          </div>
          <div class='w-100 d-lg-none'></div>
          <div class='col-auto name'>
            <p class='text-right'>
              {% if source_template == 'team' and tie.team1.fbrefid == team.fbrefid %}
              {{ tie.team1.short_name }}
              {% else %}
              <a href="{{ tie.team1.get_absolute_url }}">{{ tie.team1.short_name }}</a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>

      <div class='col-auto result'>
        <p class='text-center'>
          <a href='{{ tie.get_absolute_url }}'>
          {% if tie.in_progress %}
            TBD
          {% elif tie.has_invalid_match or not tie.has_events %}
            N/A
          {% else %}
            {{ tie.aggscore_t1 }}{% if tie.away_goals_rule or tie.penalty_kicks %}{% if tie.t1win %}*{% endif %}{% endif %}-{{ tie.aggscore_t2 }}{% if tie.away_goals_rule or tie.penalty_kicks %}{% if not tie.t1win %}*{% endif %}{% endif %}
          {% endif %}
          </a>
        </p>
      </div>

      <div class='col-4 team two'>
        <div class='row justify-content-start align-items-center'>
          <div class='col-auto name'>
            <p class='text-left'>
              {% if source_template == 'team' and tie.team2.fbrefid == team.fbrefid %}
              {{ tie.team2.short_name }}
              {% else %}
              <a href="{{ tie.team2.get_absolute_url }}">{{ tie.team2.short_name }}</a>
              {% endif %}
            </p>
          </div>
          <div class='w-100 d-lg-none'></div>
          <div class='col-auto flag'>
            <img class='flagicon' src="/static/img/{{ tie.team2.country.slug }}.png" />
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- notes (agr/aet) -->
  <div class='col-lg-1 notes'>
    <div class='row'>
      {% if tie.away_goals_rule %}
      <div class='col-lg-4'>
        <p class='text-center'>agr</p>
      </div>
      {% endif %}
      {% if tie.after_extra_time %}
      <div class='col-lg-4'>
        <p class='text-center'>aet</p>
      </div>
      {% endif %}
      {% if tie.penalty_kicks %}
      <div class='col-lg-4'>
        <p class='text-center'>pk</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
