{% extends "base.html" %}

{% block title %}Ties{% endblock %}

{% block content %}
    <h2>All two-legged ties</h2>
    <table id="teams" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Season</th>
                <th>Stage</th>
                <th>Team 1</th>
                <th>Team 2</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for tie in ties %}
            <tr>
                <td>{{ tie.season }}</td>
                <td>{{ tie.stage }}</td>
                <td><a href="{{ tie.team1.get_absolute_url }}">{{ tie.team1 }}</a><a href="{{ tie.team1.country.get_absolute_url }}"><img class='flagicon' src="/static/img/{{ tie.team1.country.slug }}.png" /></a></td>
                <td><a href="{{ tie.team2.get_absolute_url }}">{{ tie.team2 }}</a><a href="{{ tie.team2.country.get_absolute_url }}"><img class='flagicon' src="/static/img/{{ tie.team2.country.slug }}.png" /></a></td>
                <td>{{ tie.result }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}